:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.link-text {
  color: #fff;
  padding: 1rem;
}

.link-text:hover {
  background-color: #ffc107;
  color: #212121;
}

.footer-link-text {
  color: #ccc;
}

.header-area {
  display: flex;
  justify-content: space-between;
  background-color: #673ab7;
}

.header-title {
  display: flex;
  align-items: center;
  background-color: #673ab7;
  color: #fff;
  flex-basis: 50%;
  padding: 0rem 0rem 0rem 0.5rem;
  font-weight: normal;
}

.menu-area {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  justify-content: flex-end;
  background-color: #673ab7;
  color: #fff;
  padding: 0rem 1rem 0rem 0;
}

.image-area {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  font-size: 1.5rem;
  padding: 8.5rem;
}

.credit {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.launch-area-header {
  display: flex;
  background-color: #ffc107;
  padding: 1rem 0 1rem 0.5rem;
  font-size: 1.5em;
  font-weight: bold;
}

.launches {
  display: flex;
  flex-direction: row;
}

.launches-api-area {
  background-color: #ededed;
  padding: 0 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  margin: 1rem 3rem;
}

.launches-api-area > h3 {
  text-align: center;
}

.launch-info-area {
  padding-bottom: 0.75rem;
  border-bottom: darkgray 1px solid;
}

.countdown-area {
  padding-top: 0.75rem;
  border-bottom: darkgray 1px solid;
  padding-bottom: 0.75rem;
}

.location-area {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 1rem 1rem 0rem;
  font-size: 2rem;
  background-color: #ffc107;
  margin: 8rem 0 8rem 0rem;
  width: 5rem;
}

.left-arrow:active {
  background-color: #673ab7;
}

.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 0rem 0rem 1rem;
  font-size: 2rem;
  background-color: #ffc107;
  margin: 8rem 0 8rem 0rem;
  width: 5rem;
}

.right-arrow:active {
  background-color: #673ab7;
}

.mission-statement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  background-color: #d1c4e9;
  text-align: center;
  padding-bottom: 1rem;
}

.footer-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #673ab7;
  color: #ccc;
  height: 5rem;
}

@media only screen and(min-width:500px) {
  .mission-statement section {
    width: 75%;
  }
  .arrow {
    width: 10rem;
    margin: 4rem 0rem 4rem 0rem;
  }
}
@media only screen and(min-width:1000px) {
  .mission-statement section {
    width: 50%;
  }
  .arrow {
    width: 10rem;
    margin: 4rem 0rem 4rem 0rem;
  }
}
